.answer {
    display: flex;
    min-width: 500px;
    height: 100px;
    margin: 10px;
    width: 80%;
    cursor: pointer;
    perspective: 1000px;
}

.content {
    position: relative;
    display: flex;
    flex: 1;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.answerWasShown.content {
    transform: rotateY(180deg);
}

.front, .back {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    background-color: #fff;
    color: #000;
}

.back {
    transform: rotateY(180deg);
}

.back > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.right {
    background-color: #2bba6d;
}

.wrong {
    background-color: #e44a4c;
}

.right .value, .wrong .value {
    font-size: 1.5rem;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
}

.value {
    font-size: 1.3rem;
    font-weight: 700;
}
